<ui-view>

   <button type="button" ui-sref="students.create">
      crear
   </button>

   <form class="form-inline">
      <div class="form-group">
         <label for="exampleInputName2">Filter</label>
         <input type="text"
                class="form-control"
                id="exampleInputName2"
                ng-model="myFilter"
                placeholder="Jane Doe">
      </div>
      <button type="submit" class="btn btn-default">Send invitation</button>
   </form>



   <student-card cards="$ctrl.students"
                  on-profile="$ctrl.studentProfile(student)">
   </student-card>


  <!-- <div class="Student-cards">
      <div class="Student-card" ng-repeat="student in $ctrl.students track by $index">
         <span ng-bind="student.name"></span>
         <span ng-bind="student.lastName"></span>
         <span ng-bind="student.email"></span>
         <span ng-bind="student.phone"></span>
      </div>
   </div>-->

   <!--<table class="table table-hover">
      <thead>
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Celular</th>
         <th>Profession</th>
         <th>Plan</th>
         <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="student in $ctrl.students | filter: myFilter track by $index"
          ng-dblclick="$ctrl.studentProfile(student)">
         <th ng-bind="student.name"></th>
         <td ng-bind="student.lastName"></td>
         <td ng-bind="student.email"></td>
         <td ng-bind="student.mobile"></td>
         <td ng-bind="student.profession"></td>
         <td ng-bind="student.plan"></td>
         <td ng-click="$ctrl.deleteStudent(student)">
             <span class="glyphicon glyphicon-remove"
                   tooltip-placement="top"
                   uib-tooltip="Eliminar">
             </span>
         </td>
      </tr>
      </tbody>
   </table>-->

</ui-view>