<ui-view>

   <button type="button"
           class="btn btn-primary"
           ui-sref="students.create">
      crear
   </button>

   <form class="form-inline">
      <div class="form-group">
         <label for="searchFilter"></label>
         <input type="text"
                class="form-control"
                id="searchFilter"
                ng-model="myFilter"
                placeholder="Filtrar">
      </div>
      <div class="checkbox">
         <label for="pageSize">
         <input type="checkbox"
                id="pageSize"
                ng-change="$ctrl.displayAll()"
                ng-model="$ctrl.isAll" />
            Mostrar Todos
         </label>
      </div>
   </form>

   <table class="table table-hover">
      <thead>
      <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Email</th>
         <th>Celular</th>
         <th>Profesión</th>
         <th>Plan</th>
         <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="student in $ctrl.students
                     | orderBy: 'name'
                     | pagination: $ctrl.curPage * $ctrl.pageSize
                     | limitTo: $ctrl.pageSize
                     | filter: myFilter track by $index"
          ng-dblclick="$ctrl.studentProfile(student)">
         <th ng-bind="student.name"></th>
         <td ng-bind="student.lastName"></td>
         <td ng-bind="student.email"></td>
         <td ng-bind="student.mobile"></td>
         <td ng-bind="student.profession"></td>
         <td ng-bind="student.plan"></td>
         <td ng-click="$ctrl.deleteStudent(student)">
             <span class="glyphicon glyphicon-remove"
                   tooltip-placement="top"
                   uib-tooltip="Eliminar">
             </span>
         </td>
      </tr>
      </tbody>
   </table>
   <div class="pagination pagination-centered" ng-show="$ctrl.students.length">
      <ul class="pagination-controle pagination">
         <li>
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="$ctrl.curPage === 0"
                    ng-click="$ctrl.curPage = $ctrl.curPage-1">
               &lt; Anterior
            </button>
         </li>
         <li>
            <span>Página {{$ctrl.curPage + 1}} of {{ $ctrl.numberOfPages() }}</span>
         </li>
         <li>
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="$ctrl.curPage >= $ctrl.students.length / $ctrl.pageSize - 1"
                    ng-click="$ctrl.curPage = $ctrl.curPage + 1">
               Siguiente &gt;
            </button>
         </li>
      </ul>
   </div>

</ui-view>