<ui-view>

   <button type="button" ui-sref="students.create">Create</button>

   <table class="table table-hover">
      <thead>
      <tr>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Email</th>
         <th>Profession</th>
         <th>Plan</th>
         <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="student in $ctrl.students track by $index">
         <th ng-bind="student.name"></th>
         <td ng-bind="student.lastName"></td>
         <td ng-bind="student.email"></td>
         <td ng-bind="student.Profession"></td>
         <td ng-bind="student.plan"></td>
         <td ng-click="$ctrl.deleteStudent(student)">
            <span class="fui-cross"></span>
         </td>
      </tr>
      </tbody>
   </table>

</ui-view>