<section>

   <div class="page-header">
      <img src="../../assets/img/logo-polecenter.png" alt="">
   </div>

   <form name="poleForm">

      <div class="row">
         <div class="col-md-3">
            <label class="" for="name">Nombre</label>
            <input id="name"
                   type="text"
                   class="form-control"
                   name="name"
                   ng-model="$ctrl.student.name"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="lastName">Apellidos</label>
            <input id="lastName"
                   type="text"
                   class="form-control"
                   name="lastName"
                   ng-model="$ctrl.student.lastName"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="inscriptionDate">Fecha de Matrícula</label>
            <p class="input-group">
               <input id="inscriptionDate"
                      type="text"
                      name="inscriptionDate"
                      class="form-control"
                      uib-datepicker-popup="{{$ctrl.format}}"
                      ng-model="$ctrl.student.inscriptionDate"
                      is-open="$ctrl.setup.popup.opened"
                      datepicker-options="$ctrl.setup.dateOptions"
                      clear-text="Limpiar"
                      today-text="Hoy"
                      close-text="Cerrar"
                      alt-input-formats="$ctrl.setup.altInputFormats" />
            <span class="input-group-btn">
               <button type="button"
                       class="btn btn-default"
                       ng-click="$ctrl.openCalendar()">
                  <i class="glyphicon glyphicon-calendar"></i>
               </button>
            </span>
            </p>
         </div>
         <div class="col-md-3">
            <label class=""
                   for="documentType">Tipo de Documento</label>
            <select id="documentType"
                    name="documentType"
                    ng-model="$ctrl.student.documentType"
                    class="form-control"
                    ng-options="doc for doc in $ctrl.setup.documentTypes">
            </select>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <label class=""
                   for="email">Email</label>
            <input id="email"
                   type="email"
                   class="form-control"
                   name="email"
                   ng-model="$ctrl.student.email"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="phone">Teléfono</label>
            <input id="phone"
                   type="text"
                   class="form-control"
                   name="phone"
                   ng-model="$ctrl.student.phone"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="mobile">Celular</label>
            <input id="mobile"
                   type="text"
                   class="form-control"
                   name="mobile"
                   ng-model="$ctrl.student.mobile"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="address">Dirección</label>
            <input id="address"
                   type="text"
                   class="form-control"
                   name="address"
                   ng-model="$ctrl.student.address"
                   placeholder="">
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <label class=""
                   for="height">Estatura</label>
            <input id="height"
                   type="text"
                   class="form-control"
                   name="height"
                   ng-model="$ctrl.student.height"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="weight">Peso</label>
            <input id="weight"
                   type="text"
                   class="form-control"
                   name="weight"
                   ng-model="$ctrl.student.weight"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="healthInsurance">EPS</label>
            <input id="healthInsurance"
                   type="text"
                   class="form-control"
                   name="healthInsurance"
                   ng-model="$ctrl.student.healthInsurance"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="Profession">Profesión</label>
            <input id="Profession"
                   type="text"
                   class="form-control"
                   name="Profession"
                   ng-model="$ctrl.student.profession"
                   placeholder="">
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <label class=""
                   for="children">Hijos</label>
            <label class="">
               <input type="checkbox"
                      id="children"
                      name="children"
                      ng-model="$ctrl.student.children">
            </label>
         </div>

      </div>
      <hr>
      <div class="row">
         <div class="col-md-3">
            <label class=""
                   for="ocupation">Ocupación</label>
            <select id="ocupation"
                    name="ocupation"
                    ng-model="$ctrl.student.occupation"
                    class="form-control"
                    ng-options="doc for doc in $ctrl.setup.occupations">
            </select>
         </div>
         <div class="col-md-3">
            <label class=""
                   for="companyName">Empresa donde trabaja</label>
            <input id="companyName"
                   type="text"
                   class="form-control"
                   name="companyName"
                   ng-model="$ctrl.student.companyName"
                   placeholder="">

         </div>
         <div class="col-md-3">
            <label class=""
                   for="companyPhone">Teléfono Empresa</label>
            <input id="companyPhone"
                   type="text"
                   class="form-control"
                   name="companyPhone"
                   ng-model="$ctrl.student.companyPhone"
                   placeholder="">

         </div>
         <div class="col-md-3">
            <label class=""
                   for="charge">Cargo</label>
            <input id="charge"
                   type="text"
                   class="form-control"
                   name="charge"
                   ng-model="$ctrl.student.charge"
                   placeholder="">

         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <label class=""
                   for="howYouMeetPoleCenter">¿Como conoció Pole Center?</label>
            <input id="howYouMeetPoleCenter"
                   type="text"
                   class="form-control"
                   name="howYouMeetPoleCenter"
                   ng-model="$ctrl.student.howYouMeetPoleCenter"
                   placeholder="">
         </div>
         <div class="col-md-3">
            <label class=""
                   for="plan">Plan</label>
            <select id="plan"
                    name="plan"
                    ng-model="$ctrl.student.plan"
                    class="form-control"
                    ng-options="plan for plan in $ctrl.setup.plans">
            </select>
         </div>
         <div class="col-md-6">
            <div class="text-center">
               <label
                      for="inCaseOfEmergencyName">
                  En caso de emergencia comunicarse con
               </label>
            </div>
            <div class="col-md-6">
               <input id="inCaseOfEmergencyName"
                      type="text"
                      class="form-control"
                      name="inCaseOfEmergency"
                      ng-model="$ctrl.student.inCaseOfEmergency.name"
                      placeholder="Nombre">
            </div>
            <div class="col-md-6">
               <input id="inCaseOfEmergencyPhone"
                      type="text"
                      class="form-control"
                      name="inCaseOfEmergency"
                      ng-model="$ctrl.student.inCaseOfEmergency.phone"
                      placeholder="Teléfono">
            </div>
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="col-md-3">
            <button class="btn btn default"
                    ng-click="$ctrl.save()">
               <span ng-bind="$ctrl.buttonText"></span>
            </button>
         </div>
      </div>

      <pre>{{$ctrl.student | json}}</pre>

   </form>
</section>